# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hospital Data Storage (Crucial for HIPAA/Privacy)
backend/data/raw/*
backend/data/processed/*
data/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Operating System Files
.DS_Store
Thumbs.db

sources


dist/